:host {
  background: var(--dark-color);
  display: block;
  padding: 20px 12px;
}

.main-menu-list {
  display: grid;
  grid-gap: 6px;
  list-style: none;
}

.menu-item {
  padding: 16px 12px;
  cursor: pointer;
  border: none;
  background: none;
  color: var(--light-color);
  display: grid;
  grid-template-columns: 16px 1fr max-content;
  align-items: center;
  grid-gap: 12px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  text-align: left;
  width: 100%;

  &:hover,
  &:focus-visible {
    background: var(--dark-hover-color);
    color: var(--primary-color);

    .menu-item__svg {
      color: var(--primary-color);
    }
  }
}

.menu-item__svg {
  width: 16px;
  height: 16px;
  color: var(--light-color);
}
